.postl,
.postr {
	bottom: auto;
	top: 50px;
}
.posbl,
.posbr {
	bottom: 50px;
	top: auto;
}
.postl,
.posbl {
	right: auto;
	left: 50px;
}
.postr,
.posbr {
	right: 50px;
	left: auto;
}
.fixed {
	position: fixed;
}
.postl,
.postr,
.posbl,
.posbr {
	text-align: center;
	line-height: 3em;
	background: #ccc;
	width: 3em;
}
label {
	zoom: 1;
}